.mardiGrasParade {
  display: flex;
  flex-direction: column;
  .titleName{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5em;
    color: #481074;
    margin-bottom: 0.25em;
  }
  .subtitle{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5em;
    color:#000000;
    margin-bottom: 2.27em;
    opacity:0.8;
  }
  .title{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #481074;
    margin-top: 1.7857em;
    margin-bottom:0.214em;
    line-height: 1.5em;
  }
  .MGPPic{
    margin-top: 0.75em;
    margin-bottom: 0;
  }
  .regular-text{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size:22px;
    line-height: 1.5em;
    opacity:0.8;
  }
  .lastLine{
    margin-bottom: 4.55em;
  }
  .color-purple{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #481074;
    display: contents;
    line-height: 1.5em;
  }
  .back-to-portfolio{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
  }
}
